<!DOCTYPE html>
<html>

<!-- about32:03-->

<head>
    <meta charset="utf-8">
    <title>Tempus</title>
    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="/css/color-switcher-design.css" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/img/AddedSolutions.jpg" type="image/x-icon">
    <link rel="icon" href="/assets/img/AddedSolutions.jpg" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">



        <!-- Main Header-->
        <header class="main-header header-style-two">

            <!--Header Top-->
            <div class="header-top">
                <div class="auto-container">
                    <div class="clearfix">
                        <!--Top Left-->
                        <div class="top-left">
                            <div class="text">Welcome to Lezo Financial Services, we have over 25 years of expertise</div>
                        </div>
                        <!--Top Right-->
                        <div class="top-right">
                            <!--Social Box-->
                            <ul class="social-box">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                            <!--Language-->
                        </div>
                    </div>
                </div>
            </div>

            <!--Header-Upper-->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="clearfix">

                        <div class="pull-left logo-box">
                            <div class="logo">
                                <a href="/"><img style="width:50px ;height:50px;" src="/assets/img/AddedSolutions.jpg" alt="" title=""></a>
                            </div>
                        </div>

                        <div class="pull-right upper-right clearfix">

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon-box"><span class="flaticon-pin"></span></div>
                                <ul>
                                    <li>13005 Greenville Avenue <br> California, TX 70240</li>
                                </ul>
                            </div>

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon-box"><span class="flaticon-technology-1"></span></div>
                                <ul>
                                    <li>+1 800125 6524 <br> mail@lezofinance.com</li>
                                </ul>
                            </div>

                            <!--Info Box-->
                            <div class="upper-column info-box">
                                <div class="icon-box"><span class="flaticon-clock"></span></div>
                                <ul>
                                    <li>10:00am to 6:00pm <br> Sunday Closed</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Upper-->



            <!--Header Lower-->
            <div class="header-lower">

                <div class="auto-container">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="/">Início</a></li>
                                    <li class="dropdown current"><a href="#">Tempus</a>
                                        <ul>
                                            <li><a href="/sobre">Sobre Nós</a></li>
                                            <li><a href="/sobre/programas">Programas</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="/servicos">Serviços</a></li>
                                    <li><a href="/galerias">Galerias</a>
                                    </li>
                                    <li><a href="/publicacao">Publicações</a></li>
                                    <li><a href="/contatos">Addedsolutions</a></li>
                                    <li><a href="/contatos">Contatos</a></li>
                                </ul>
                            </div>
                        </nav>

                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <!--Option Box-->
                            <div class="option-box">
                                <!--Cart Box-->


                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <% if(data){ %>
                                            <a href="/instituicao" class="search-box-btn dropdown-toggle"><span class="fa fa-user"></span> Entrar</a>

                                            <% } else{ %>
                                                <a href="/auth/login" class="search-box-btn dropdown-toggle"><span class="fa fa-user"></span> Login</a>

                                                <% } %>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="side-curve"></div>
                    </div>
                </div>
            </div>
            <!--End Header Lower-->



        </header>
        <!--End Main Header -->

        <!--FullScreen Menu-->
        <div class="fullscreen-menu">
            <!--Close Btn-->
            <div class="close-menu"><span class="flaticon-cancel-1"></span></div>

            <div class="menu-outer-container">
                <div class="menu-box">
                    <nav class="full-menu">
                        <ul class="navigation">
                            <li class="dropdown"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Home Page 01</a></li>
                                    <li><a href="index-3.html">Home Page 02</a></li>
                                </ul>
                            </li>
                            <li class="current dropdown"><a href="#">About</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="careers.html">Careers</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="testimonials.html">Testimonial</a></li>
                                    <li><a href="partners.html">Partners</a></li>
                                    <li><a href="comming-soon.html">Comming Soon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Services</a>
                                <ul>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="services-single.html">Financial Planing</a></li>
                                    <li><a href="savings-investments.html">Savings & Investments</a></li>
                                    <li><a href="private-banking.html">Private Banking</a></li>
                                    <li><a href="consumer-leasing.html">Consumer Leasing</a></li>
                                    <li><a href="secured-transactions.html">Secured Transactions</a></li>
                                    <li><a href="strategic-planing.html">Strategic Planing</a></li>
                                    <li><a href="trade-stock.html">Trade & Stock</a></li>
                                    <li><a href="insurance-consulting.html">Insurance Consulting</a></li>
                                    <li><a href="retirment-planning.html">Retirment Planning</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Gallery</a>
                                <ul>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                    <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                                    <li><a href="gallery-fullwidth-2.html">Gallery Fullwidth 2</a></li>
                                    <li><a href="gallery-single.html">Gallery Single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="shop.html">Our Products</a></li>
                                    <li><a href="shop-single.html">Product Single</a></li>
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="account.html">Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-left-classic.html">Blog Left sidebar</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                    <li><a href="not-found.html">Not Found</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--End FullScreen Menu-->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(/images/background/1.jpg);">
            <div class="auto-container">
                <h2>About Us</h2>
            </div>
        </section>

        <!--Breadcrumb-->
        <div class="breadcrumb-outer">
            <div class="auto-container">
                <ul class="bread-crumb text-center">
                    <li><a href="index-2.html">Home</a> <span class="fa fa-angle-right"></span></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
        <!--End Page Title-->



        <!--About Section-->
        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Column-->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <h2>About Lezo Finance</h2>
                            </div>
                            <div class="text">
                                <p>We provide buy-side, sell-side and market infrastructure firms with a full-service offering, services, to assist in delivering high performance trading and settlement.</p>
                                <p>More than 25 years of experience working in the industry has enabled us to build our services, our clients with their trading projects around the world.</p>
                            </div>
                            <ul class="list-style-one">
                                <li>Financial Managment and Consulting</li>
                                <li>Advice and Assistance Investing</li>
                                <li>Comprehensive Support for Your Business</li>
                            </ul>
                        </div>
                    </div>

                    <!--Video Column-->
                    <div class="video-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">

                            <!--Video Box-->
                            <div class="video-box">
                                <figure class="image">
                                    <img src="/images/resource/video-img.jpg" alt="">
                                </figure>
                                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End About Section-->

        <!--Fluid Section One-->
        <section class="fluid-section-one">
            <div class="outer-container clearfix">

                <!--Image Column-->
                <div class="image-column" style="background-image:url(/images/resource/image-1.jpg);">
                    <figure class="image-box"><img src="/images/resource/image-1.jpg" alt=""></figure>
                </div>

                <!--Content Column-->
                <div class="content-column">
                    <div class="inner-column">
                        <h2>Why Choose Us</h2>
                        <div class="text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. More than 25 years of experience working in the industry has enabled us to build our services.</div>
                        <div class="row clearfix">
                            <!--Column-->
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <!--Featured Block-->
                                <div class="featured-block">
                                    <div class="feature-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-graph"></span>
                                        </div>
                                        <h3>Advanced <br> Analytics</h3>
                                    </div>
                                </div>
                            </div>
                            <!--Column-->
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <!--Featured Block-->
                                <div class="featured-block">
                                    <div class="feature-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-time-1"></span>
                                        </div>
                                        <h3>Corporate <br> Finance</h3>
                                    </div>
                                </div>
                            </div>
                            <!--Column-->
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <!--Featured Block-->
                                <div class="featured-block">
                                    <div class="feature-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-graphic-1"></span>
                                        </div>
                                        <h3>Information <br> Technology</h3>
                                    </div>
                                </div>
                            </div>
                            <!--Column-->
                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                <!--Featured Block-->
                                <div class="featured-block">
                                    <div class="feature-inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-analytics"></span>
                                        </div>
                                        <h3>Our Workflow <br> & Process</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Fluid Section One-->

        <!--Team Section-->
        <section class="team-section">
            <div class="auto-container">
                <!--Sec Title-->
                <div class="sec-title centered">
                    <h2>Meet Our Advisors</h2>
                </div>

                <div class="row clearfix">

                    <!--Team Member-->
                    <div class="team-member col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><img src="/images/resource/team-1.png" alt=""></figure>
                                <ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h6><a href="team-single.html">David Warner</a></h6>
                                <div class="designation">Ceo</div>
                                <div class="text">As more and more people are turning to organic</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="team-member col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><img src="/images/resource/team-2.png" alt=""></figure>
                                <ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h6><a href="team-single.html">James Simth</a></h6>
                                <div class="designation">Manager</div>
                                <div class="text">As more and more people are turning to organic</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="team-member col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><img src="/images/resource/team-3.png" alt=""></figure>
                                <ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h6><a href="team-single.html">Adam Rose</a></h6>
                                <div class="designation">Employe</div>
                                <div class="text">As more and more people are turning to organic</div>
                            </div>
                        </div>
                    </div>

                    <!--Team Member-->
                    <div class="team-member col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeIn" data-wow-delay="900ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><img src="/images/resource/team-4.png" alt=""></figure>
                                <ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                            <div class="lower-content">
                                <h6><a href="team-single.html">Kevin Peterson</a></h6>
                                <div class="designation">Client</div>
                                <div class="text">As more and more people are turning to organic</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!--End Team Section-->

        <!--Company Section-->
        <section class="company-section">
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Job Requirement In Company</h2>
                </div>
                <div class="text">
                    <p>Learn more about who we are and what we do… Finance BackOffice Team is a part of Finance Operations Unit. BOFF is dedicated to supporting the Vendor Master File of Agoda by screening, controlling, evaluating with providing support.</p>
                    <p>BOFF is responsible for oversight of vendor’s Agoda, including efficient and accurate vendor registration and evaluation processing, fraudulent reporting, coordinate </p>
                </div>
                <div class="row clearfix">

                    <!--Column-->
                    <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3>Responsibilities</h3>
                        <ul class="list-style-one">
                            <li>Increase operational efficiency within the Business.</li>
                            <li>Recruit, develop, manage, retain, lead staff to ensure adherence to all targets and KPIs.</li>
                            <li>Support and optimize agoda business development.</li>
                            <li>Ensure good and pro-active team work with subordinates</li>
                            <li>Share and seek out best practices and knowledge.</li>
                        </ul>
                    </div>

                    <!--Column-->
                    <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3>Benefits and Rewards</h3>
                        <div class="text">
                            <p>We care for our clients’ business as our business. We think and act like business partners, not academic advisors.</p>
                            <p>Personal impact, mentoring, and teamwork are just a few of the benefits of building a career at Consulting WP.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Company Section-->

        <!--Faq Section-->
        <section class="faq-section">
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Open Positions</h2>
                </div>
                <!--Accordion Box-->
                <ul class="accordion-box">

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn active">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-pie-chart-3"></span> Trading on the Stock Executive</div>
                        <div class="acc-content current">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-up-arrow-1"></span> Financial Analysis Executive</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-pyramid-scheme"></span> Taxes and Accounting Manager</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-growth-1"></span>Loan Department Office</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-stats"></span> Business Support Manager</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-up-arrow-1"></span> Client's Investments Executive</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                    <li class="accordion block">
                        <div class="acc-btn">
                            <div class="icon-outer"><span class="icon icon-plus fa fa-arrow-right"></span> <span class="icon icon-minus fa fa-arrow-down"></span></div> <span class="icon-inner flaticon-pyramid-scheme"></span> Real Estate Assets Manager</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Responsible for financial planning and modeling. Manages the financial analysis projects and statistical studies. Provides key financial. True first level manager. Ensures that project/department milestones/goals are met
                                    and adhering to approved budgets. Has full authority for personnel actions. Extensive knowledge of department processes.</p>
                            </div>
                        </div>
                    </li>

                </ul>
                <!--End Accordion Box-->
            </div>
        </section>


        <!--Subscribe Style One-->
        <section class="subscribe-style-one alternate">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <h2>Newsletter Subscribe</h2>
                        <div class="text">Sign up today for hints, tips and the latest Updates.</div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <form method="post" action="#">
                            <div class="form-group clearfix">
                                <input type="email" name="email" value="" placeholder="Enter Email Address" required>
                                <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--End Subscribe Style One-->

        <!--Main Footer-->
        <div class="bottom-parallax">
            <footer class="main-footer">
                <!--Widgets Section-->
                <div class="auto-container">

                    <div class="widgets-section">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                                <!--About Widget-->
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="/"><img src="/assets/img/AddedSolutions.jpg" alt="" /></a>
                                    </div>
                                    <div class="text">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </div>
                                    <a href="#" class="theme-btn btn-style-two">Read More</a>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                                <!--About Widget-->
                                <div class="footer-widget links-widget">
                                    <h5>Usefull Links</h5>
                                    <div class="row clearfix">
                                        <ul class="link-list col-md-6 col-sm-6 col-xs-12">
                                            <li><a href="#">Business Growth</a></li>
                                            <li><a href="#">Sustainability</a></li>
                                            <li><a href="#">Performance</a></li>
                                            <li><a href="#">Customer Insights</a></li>
                                            <li><a href="#">Organization</a></li>
                                            <li><a href="#">Advanced Analytics</a></li>
                                        </ul>
                                        <ul class="link-list col-md-6 col-sm-6 col-xs-12">
                                            <li><a href="#">About Industry</a></li>
                                            <li><a href="#">Customer FAQ’s</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Free Consultation</a></li>
                                            <li><a href="#">Meet Our Team</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                                <!--About Widget-->
                                <div class="footer-widget news-widget">
                                    <h5>Latest News</h5>

                                    <div class="news-widget-block">
                                        <div class="inner">
                                            <div class="icon flaticon-world"></div>
                                            <div class="post-date">February 14, 2019</div>
                                            <div class="text"><a href="#">Seminar for improve  business profit & loss</a></div>
                                        </div>
                                    </div>

                                    <div class="news-widget-block">
                                        <div class="inner">
                                            <div class="icon flaticon-graduation-cap"></div>
                                            <div class="post-date">January 21, 2019</div>
                                            <div class="text"><a href="#">Experts Openion for save money for your future.</a></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Footer Info Section-->
                    <div class="footer-info-section">
                        <div class="row clearfix">

                            <!--Info Block-->
                            <div class="info-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div class="icon flaticon-pin"></div>
                                    <h6>Address</h6>
                                    <div class="text">185, Industry Street, Los Angeles, USA.</div>
                                </div>
                            </div>

                            <!--Info Block-->
                            <div class="info-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div class="icon flaticon-technology-1"></div>
                                    <h6>Call Us On</h6>
                                    <div class="text">Front Desk: +000-000-0000 & 00</div>
                                </div>
                            </div>

                            <!--Info Block-->
                            <div class="info-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner">
                                    <div class="icon flaticon-web"></div>
                                    <h6>Email at</h6>
                                    <div class="text">Support-team@.com</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!--Footer Bottom-->
                <div class="footer-bottom">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="column col-md-6 col-sm-12 col-xs-12">
                                <div class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
                            </div>
                            <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                                <ul class="footer-nav">
                                    <li><a href="#">Legal</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Condition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Footer Bottom-->

            </footer>
        </div>

    </div>
    <!--End pagewrapper-->


    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/script.js"></script>

    <!--Google Map APi Key-->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD39_Mb1wKUcuRD-0KPmQT6SQHhEMVX1O0"></script>
    <script src="/js/map-script.js"></script>
    <!--End Google Map APi-->

    <script src="/js/color-settings.js"></script>

</body>

<!-- about32:11-->

</html>
